body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: left;
}
h1{
  font-weight: 100;
}
h3{
  font-weight: 100;
}
h2{
  font-size: 40px;
  margin: 0;
  letter-spacing: 4px;
  font-weight: 100;
}
h4{
  letter-spacing: 3px;
  font-weight: 100;
}
p{
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 100;
}
a{
  color: #ff4949;
}
.hamburger{
  display: none;
  text-align: right;
  position: fixed;
  right: 30px;
  top: 30px;
}
.line{
  width: 25px;
  height: 2px;
  background:#53efd6;;
}
.line-1, .line-2{
  margin-bottom: 6px;
}
.wrapper{
  width: 1000px;
  margin: 0 auto;
/*  -webkit-transition: all 2s ease;
*/}
.section{
  overflow: auto;
  max-width: 1800px;
  margin: 0 auto;
}
.fa{
  font-size: 30px;
}
.one{
  height: 650px;
  width: 100%;
  color: #ff4949;
  background: -webkit-linear-gradient(#0e1e38,black);;
  background: linear-gradient(#0e1e38,black);
  background: -moz-linear-gradient(#0e1e38,black);
}
.one .wrapper{
  text-align: center;
}
.text-wrapper{
  margin-top: 250px;
}
.one h2{
}
.one h4{
 margin-top: 40px;
 margin-bottom: 40px;
}
.fa-social{
  display: inline-block;
  margin: 0px 50px;
}
.two{
  background-image: url('../assets/pf-city-dark.jpg');
  width: 100%;
  padding: 180px 0px;
  height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*background: #485563;   fallback for old browsers */
  /*  background: -webkit-linear-gradient( #0e1e38, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient( #0e1e38, #485563);*/

}
.two p{
    line-height: 46px;
    color: white;
    font-size: 22px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.three{
  margin: 0 auto;
  padding: 130px 0px 70px 0px;
}
.three  h1{
  text-align: center !important;
  padding: 0px 0px;
}
.work-section{
  padding: 50px;
  background: #0e1e38;
}
.work-section h2{
  color: #ff4949;
  text-align: center;
}
.portfolio-col{
  float: left;
  display: inline-block;
  width: 100%
}
.sites-wrapper .site-img{
   opacity: 0;
  float: left;
  display: inline-block;
  width: 33.332%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  transform: translate(0px, 70px);
  cursor: pointer;
}
.sites-wrapper .site-four{
  clear: both;
}
.apps-wrapper{
  clear: both;
  display: block;
  padding-bottom: 60px;
}
.apps-wrapper .app-img{
  opacity: 0;
  width: 33.332%;
    -webkit-transition: all .5s ease;
  transition: all .5s ease;
  transform: translate(0px, 70px);
  height: 326px;
  cursor: pointer;
}
.workFade{
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}
.apps-wrapper{

}
.number-two{
  margin-left: 0%;
}
.four{
  clear: both;
  padding: 130px 0px 0px 0px;
  /*background-image: url('../assets/mountain.jpg');*/
  height: 900px;
  /* Create the parallax scrolling effect */
/*  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background: linear-gradient(#141E30, #243B55);
}
.four h1{
  color: white;
  text-align: center;
    margin-bottom: 50px;
}
.expert-col{
  text-align: center;
  color: white;
  width: 49%;
  float: left;
  height: auto;
  display: inline-block;
  padding: 60px 0px;
  border: 1px solid rgba(255, 255, 255, .25);
  -webkit-transition: all .6s ease;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.four .wrapper{
  width: 900px;
  position: relative;
}
.expert-wrapper{
  width: 80%;
  margin: 0 auto;
}
.expert-col2{
  border-right: 1px solid rgba(255, 255, 255, .25);
  border-left: 0px;
}
.expert-col2 h3{
  margin-top: 8px;
}
.expert-col4{
  border-left: 0px;
}
.fa-mobile, .fa-code, .fa-cloud, .fa-cog{
  font-size: 70px;
  color: #53efd6;
}
.fa-mobile{
  font-size: 122px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.expert-col h3{
  font-size: 24px;
  letter-spacing: 4px;
}
.expert-col p{
  width: 70%;
  margin: 0 auto;
  font-size: 0px;
  opacity: 0;
  -webkit-transition: all 1.3s ease;
  transition: all .3s ease;
}
.clickedfalse{
    width: 0px;
    height: 0px;
    font-size: 0px;
    -webkit-transition: width 1s, height 1s,  font-size 1s, opacity 1s;
    -moz-transition: width 1s, height 1s, margin 1s, font-size 1s, opacity 1s;
    -ms-transition: width 1s, height 1s, margin 1s, font-size 1s, opacity 1s;
    transition: width 1s, height 1s, margin 1s, font-size 1s, opacity 1s;

}
.clickedtrue{
  height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
}
.js-logo{
  width: 34%;
  margin-top: -5px;
  margin-bottom: 4px;
}
.middle{
  border-left: 0px;
  border-right: 0px;
}
.expert-col:hover{
  background: rgba(255, 255, 255, .2);
}
.expert-col3{
  border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.five{
  padding: 60px 0px;
  background: linear-gradient(#0e1e38,black);
  background: -webkit-linear-gradient(#0e1e38,black);
  background: -moz-linear-gradient(#0e1e38,black);
  color: #ff4949;
}
.five h2{
  float: left;
  padding-top: 30px;
}
.five .fa{
  margin-right: 10px;
  color: ;
  margin-bottom: 10px;
  font-size: 20px
}
.five .fa-mobile{
  font-size: 26px;
  margin-left: 2px;
}
.five a{
  color: #53efd6;
  text-decoration: none
}
.contact-col{
  width: 50%;
  float: right;
  list-style: none;
  color: #53efd6;
}
.fade-away{
  opacity: 0;
}
.expandtrue{
  height: 320px;
  background: rgba(255, 255, 255, .2);
}
.exper-col1.expandtrue{
  transform: translate(52%, 5%);
  padding-bottom: 100px;
}
.exper-col2.expandtrue{
  transform: translate(-48%, -15%);
  margin-top: 97px;
  padding-bottom: 120px;
}
.exper-col3.expandtrue{
  -webkit-transform: translate(50%, -65%);
  transform: translate(52%, -65%);
}
.exper-col4.expandtrue{
  transform: translate(-48%, -65%);
}
.seePtrue{
  opacity: 1 !important;
  font-size: 16px !important;
}
.close-btn{
  display: block;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.close-not-active{
  margin-left: -20px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  font-size: 18px;
  color: white;
}
.close-active{
  width: 200px;
  border: 1px solid rgba(255, 255, 255, .5);
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 0 auto;
  padding: 10px 0px;
}
.close-active:hover{
  /*background: rgba(255, 255, 255, .3);*/
  cursor: pointer;
}
.invisible{
  opacity: 0;
  y: -80px;
}
.fadeUp{
  -webkit-transition: opacity .5s ease;
  opacity: 1;
  y: 0px;
}
.fa-cloud, .fa-cog{
  margin-top: 30px;
}
@media(max-width: 1050px){
  .wrapper{
    width: 750px;
  }
  .four .wrapper{
    width: auto;
  }
}
@media(max-width: 768px){
  .wrapper{
    width: 90%;
    margin: 0 auto;
  }
  .two p{
    width: 100%;
    font-size: 18px;
    line-height: 32px;
  }
  .site-img, .app-img{
    width: 100% !important;
  }
  .expert-col{
    padding: 0px;
  }
  .four{
    height: auto;
    padding-bottom: 40px;
  }
  .fa-mobile{
    font-size: 60px;
  }
  .fa-mobile, .fa-cloud, .fa-cog{
    margin-top: 50px;
  }
  .fa-cog, .fa-cloud{
    font-size: 50px;
  }
  .expert-col h3{
    font-size: 18px;
    padding: 0px 10px;
  }
  .js-logo{
    width: 60px;
    margin-top: 40px;
  }
  .expert-col{
    float: none;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .exper-col1.expandtrue, .exper-col2.expandtrue, .exper-col3.expandtrue, .exper-col4.expandtrue{
    margin-top: 0px;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  .fade-away{
    border-left: 1px solid rgba(255, 255, 255, .25);
    opacity: 1;
  }
  .expert-wrapper{
    margin-top: 40px;
  }
  .exper-col1.expandtrue{
    padding-bottom: 10px;
  }
  .exper-col2.expandtrue{
    padding-bottom: 30px;
  }
  .seePtrue{
    font-size: 12px !important;
  }
  .expandtrue{
    height: auto;
  }
  /*.exper-col3.expandtrue{
    position: absolute;
    -webkit-transform: translate(-91%, 10%);
    -ms-transform: translate(-91%, 10%);
    transform: translate(-91%, 10%);
    width: 95%;
    padding-bottom: 60px;
  }*/
/*  .exper-col4.expandtrue{
    position: absolute;
    -webkit-transform: translate(-91%, 10%);
    -ms-transform: translate(-91%, 10%);
    transform: translate(-91%, 10%);
    width: 95%;
  }*/
  .five h2, .contact-col{
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .five h2{
    text-align: center;
  }
  .five .fa{
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
